@mixin box-task {
    .task {
        cursor: pointer;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.432);
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        padding: 0.5em;
        // background-color: white;
        width: 100%;
        border-radius: 10px;

        summary {
            height: 50px;
            font-family: "Courier New", Courier, monospace;
            display: flex;
            // justify-content: center;
            justify-content: space-between;
            align-items: center;
            & .check-title {
                height: 50px;
                border-radius: 10px 10px 0 0;

                display: flex;
                flex-direction: row;
                align-items: center;
                & .check {
                    width: 1.5em;
                    height: 1.5em;
                }
            }
            .delete {
                border: none;
                border-radius: 5px;
                background-color: #ffffff;
                padding: 0.5em 1.2em;
                transition: 0.3s;
            }
            .delete:hover {
                background-color: #ccc;
                color: white;
            }
        }
        div {
            background-color: rgb(255, 255, 255);
            display: flex;
            align-items: start;
            // justify-content: center;
            flex-direction: column;
            gap: 1em;
            padding: 1em;
            border-radius: 0px 0px 10px 10px;
            & .descricao {
                width: 60%;
                background-color: rgb(240, 239, 239);
                padding: .5em;
                border-radius: 10px;
                & span{
                    font-style: italic;
                    font-weight: 400;
                }
            }
            & span {
                font-family: "Courier New", Courier, monospace;
                font-weight: bold;
            }
        }
    }

    .level-1 {
        background-color: #d4edda; /* Verde claro */
    }

    .level-2 {
        background-color: #c3e6cb; /* Verde médio */
    }

    .level-3 {
        background-color: #ffeeba; /* Amarelo */
    }

    .level-4 {
        background-color: #f5c6cb; /* Vermelho claro */
    }
}
