@charset "UTF-8";
// @use 'displays'
@import "box-task";
@import "form";
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font:
        bold 12pt "Courier New",
        Courier,
        monospace;
}
.corpo {
    height: 100vh;
    background-color: #f0f8ff;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    gap: 5em;
}
// Style Form
@include form;

.cabeca {
    margin-top: 1.5em;
    .navegacao {
        margin-right: 0.5em;
        height: 100%;
        padding-left: 0.5em;
        display: flex;
        align-items: start;
        flex-direction: column;
        .nav {
            box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.432);
            padding-left: 1.5em;
            padding: 1em;
            border-radius: 20px;
            // height: 45%;
            width: 100%;
            padding-bottom: 1em;
            list-style: none;
            display: flex;
            flex-direction: column;
            & > span {
                // background-color: #ccc;
                display: flex;
                align-items: center;
                color: rgb(204, 93, 232);
                font:
                    normal 14pt "Courier New",
                    Courier,
                    monospace;
                .add-icon {
                    margin-right: 0.5em;
                }
            }
            & > * {
                display: flex;
                align-items: center;
                transition: 0.3s;
                margin-top: 0.2em;
                cursor: pointer;
                border-radius: 10px;
                padding: 1em;
                height: 99%;
                width: 100%;
                font:
                    normal 14pt "Courier New",
                    Courier,
                    monospace;
                img {
                    width: 30px;
                    height: 30px;
                    margin-right: 0.5em;
                }
                transition: 500ms;
            }
            & > *:hover {
                color: rgb(165, 11, 204);
                box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.432);
            }
        }
    }
}
.content {
    margin-top: 1.5em;
    margin-right: 5em;
    margin-bottom: 0.5em;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.432);
    border-radius: 20px;
    padding: 1em;
    overflow-y: auto;
    scrollbar-width: thin; /* "auto" or "thin" */
    scrollbar-color: rgba(0, 0, 0, 0.459) rgb(255, 255, 255);
    .listTask {
        display: flex;
        align-items: start;
        flex-direction: column;
        @include box-task;
    }
}
.adicionarTarrefa {
    background-color: #ccc;
    border: none;
    padding: 1em;
    border-radius: 10px;
}
