@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: bold 12pt "Courier New", Courier, monospace;
}

.corpo {
  height: 100vh;
  background-color: #f0f8ff;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  gap: 5em;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.form {
  position: absolute;
  top: 20%;
  left: 35%;
}

.formulario {
  z-index: 100;
  position: absolute;
  top: 20%;
  left: 35%;
  height: 30em;
  width: 30em;
  padding: 0.5em;
  border-radius: 10px 0 10px 10px;
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.432);
  background-color: #f0f8ff;
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 0.2em;
}
.formulario .exit-form {
  position: relative;
  top: -1.5%;
  left: 101.7%;
  border: none;
  border-radius: 0 10px 10px 0;
  width: 50px;
  background-color: rgb(250, 11, 11);
  color: white;
  font-size: 15pt;
  padding: 0.5em;
}
.formulario .bnt-submit {
  background-color: #59ff7f;
  border: none;
  border-radius: 5px;
  padding: 0.5em;
}

input[type=text] {
  border-radius: 10px;
  padding: 0.5em;
}

input[type=number] {
  border-radius: 10px;
  padding: 0.5em;
  width: 20%;
}

textarea {
  border-radius: 10px;
}

input[type=radio] {
  display: none;
}

/* Estilo padrão para os rótulos dos inputs de rádio */
input[type=radio] + label {
  display: inline-block;
  padding: 0.5em;
  border: 2px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s;
}

/* Estilo para o input de rádio quando está marcado */
input[type=radio]:checked + .level {
  border-color: #1e8536;
  background-color: #59ff7f;
}

input[type=radio]:checked + .level2 {
  border-color: #88822f;
  background-color: #ffef0a;
}

input[type=radio]:checked + .level3 {
  border-color: #724828;
  background-color: #ff7408;
}

input[type=radio]:checked + .level4 {
  border-color: #702921;
  background-color: #ff2208;
}

#descricao {
  padding: 0.5em;
  resize: none;
}

.cabeca {
  margin-top: 1.5em;
}
.cabeca .navegacao {
  margin-right: 0.5em;
  height: 100%;
  padding-left: 0.5em;
  display: flex;
  align-items: start;
  flex-direction: column;
}
.cabeca .navegacao .nav {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.432);
  padding-left: 1.5em;
  padding: 1em;
  border-radius: 20px;
  width: 100%;
  padding-bottom: 1em;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.cabeca .navegacao .nav > span {
  display: flex;
  align-items: center;
  color: rgb(204, 93, 232);
  font: normal 14pt "Courier New", Courier, monospace;
}
.cabeca .navegacao .nav > span .add-icon {
  margin-right: 0.5em;
}
.cabeca .navegacao .nav > * {
  display: flex;
  align-items: center;
  transition: 0.3s;
  margin-top: 0.2em;
  cursor: pointer;
  border-radius: 10px;
  padding: 1em;
  height: 99%;
  width: 100%;
  font: normal 14pt "Courier New", Courier, monospace;
  transition: 500ms;
}
.cabeca .navegacao .nav > * img {
  width: 30px;
  height: 30px;
  margin-right: 0.5em;
}
.cabeca .navegacao .nav > *:hover {
  color: rgb(165, 11, 204);
  background-color: rgba(165, 11, 204, 0.055);
}

.content {
  margin-top: 1.5em;
  margin-right: 5em;
  margin-bottom: 0.5em;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.432);
  border-radius: 20px;
  padding: 1em;
  overflow-y: auto;
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: rgba(0, 0, 0, 0.459) rgb(255, 255, 255);
}
.content .listTask {
  display: flex;
  align-items: start;
  flex-direction: column;
}
.content .listTask .task {
  cursor: pointer;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.432);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  width: 100%;
  border-radius: 10px;
}
.content .listTask .task summary {
  height: 50px;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .listTask .task summary .check-title {
  height: 50px;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content .listTask .task summary .check-title .check {
  width: 1.5em;
  height: 1.5em;
}
.content .listTask .task summary .delete {
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 0.5em 1.2em;
  transition: 0.3s;
}
.content .listTask .task summary .delete:hover {
  background-color: #ccc;
  color: white;
}
.content .listTask .task div {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  border-radius: 0px 0px 10px 10px;
}
.content .listTask .task div .descricao {
  width: 60%;
  background-color: rgb(240, 239, 239);
  padding: 0.5em;
  border-radius: 10px;
}
.content .listTask .task div .descricao span {
  font-style: italic;
  font-weight: 400;
}
.content .listTask .task div span {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
.content .listTask .level-1 {
  background-color: #d4edda; /* Verde claro */
}
.content .listTask .level-2 {
  background-color: #c3e6cb; /* Verde médio */
}
.content .listTask .level-3 {
  background-color: #ffeeba; /* Amarelo */
}
.content .listTask .level-4 {
  background-color: #f5c6cb; /* Vermelho claro */
}

.adicionarTarrefa {
  background-color: #ccc;
  border: none;
  padding: 1em;
  border-radius: 10px;
}/*# sourceMappingURL=style.css.map */